:root {
    --primary-color: hsla(210, 30%, 50%);
    --secondary-color: hsl(205, 70%, 90%);
    --text-color: #333;
    --gold-primary: hsla(55, 100%, 50%, 0.5);
    --transition: all 0.3s ease;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 700px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
    overflow: auto; 
    
    animation: backgroundColorChange 60s ease-in-out infinite;
}

@keyframes backgroundColorChange {
    0%   { background-color: hsl(0, 100%, 50%, 0.01); }
    2%   { background-color: hsl(7, 100%, 50%, 0.01); }
    4%   { background-color: hsl(14, 100%, 50%, 0.01); }
    6%   { background-color: hsl(21, 100%, 50%, 0.01); }
    8%   { background-color: hsl(28, 100%, 50%, 0.01); }
    10%  { background-color: hsl(35, 100%, 50%, 0.01); }
    12%  { background-color: hsl(42, 100%, 50%, 0.01); }
    14%  { background-color: hsl(49, 100%, 50%, 0.01); }
    16%  { background-color: hsl(56, 100%, 50%, 0.01); }
    18%  { background-color: hsl(63, 100%, 50%, 0.01); }
    20%  { background-color: hsl(70, 100%, 50%, 0.01); }
    22%  { background-color: hsl(77, 100%, 50%, 0.01); }
    24%  { background-color: hsl(84, 100%, 50%, 0.01); }
    26%  { background-color: hsl(91, 100%, 50%, 0.01); }
    28%  { background-color: hsl(98, 100%, 50%, 0.01); }
    30%  { background-color: hsl(105, 100%, 50%, 0.01); }
    32%  { background-color: hsl(112, 100%, 50%, 0.01); }
    34%  { background-color: hsl(119, 100%, 50%, 0.01); }
    36%  { background-color: hsl(126, 100%, 50%, 0.01); }
    38%  { background-color: hsl(133, 100%, 50%, 0.01); }
    40%  { background-color: hsl(140, 100%, 50%, 0.01); }
    42%  { background-color: hsl(147, 100%, 50%, 0.01); }
    44%  { background-color: hsl(154, 100%, 50%, 0.01); }
    46%  { background-color: hsl(161, 100%, 50%, 0.01); }
    48%  { background-color: hsl(168, 100%, 50%, 0.01); }
    50%  { background-color: hsl(175, 100%, 50%, 0.01); }
    52%  { background-color: hsl(182, 100%, 50%, 0.01); }
    54%  { background-color: hsl(189, 100%, 50%, 0.01); }
    56%  { background-color: hsl(196, 100%, 50%, 0.01); }
    58%  { background-color: hsl(203, 100%, 50%, 0.01); }
    60%  { background-color: hsl(210, 100%, 50%, 0.01); }
    62%  { background-color: hsl(217, 100%, 50%, 0.01); }
    64%  { background-color: hsl(224, 100%, 50%, 0.01); }
    66%  { background-color: hsl(231, 100%, 50%, 0.01); }
    68%  { background-color: hsl(238, 100%, 50%, 0.01); }
    70%  { background-color: hsl(245, 100%, 50%, 0.01); }
    72%  { background-color: hsl(252, 100%, 50%, 0.01); }
    74%  { background-color: hsl(259, 100%, 50%, 0.01); }
    76%  { background-color: hsl(266, 100%, 50%, 0.01); }
    78%  { background-color: hsl(273, 100%, 50%, 0.01); }
    80%  { background-color: hsl(280, 100%, 50%, 0.01); }
    82%  { background-color: hsl(287, 100%, 50%, 0.01); }
    84%  { background-color: hsl(294, 100%, 50%, 0.01); }
    86%  { background-color: hsl(301, 100%, 50%, 0.01); }
    88%  { background-color: hsl(308, 100%, 50%, 0.01); }
    90%  { background-color: hsl(315, 100%, 50%, 0.01); }
    92%  { background-color: hsl(322, 100%, 50%, 0.01); }
    94%  { background-color: hsl(329, 100%, 50%, 0.01); }
    96%  { background-color: hsl(336, 100%, 50%, 0.01); }
    98%  { background-color: hsl(343, 100%, 50%, 0.01); }
    100% { background-color: hsl(350, 100%, 50%, 0.01); }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Picsart_24-11-04_21-15-19-832.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -5;
    opacity: 0.0125;
    mix-blend-mode: overlay;
    
}

.gold-particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* Efecto de partículas dinámicas */
.gold-particle {
    position: absolute;
    background: var(--gold-primary);
    border-radius: 0%;
    pointer-events: none;
    animation: floatAndRotate linear infinite;
}

@keyframes floatAndRotate {
    0% {
        transform: translateY(0vh) rotate(0deg);
        opacity: 0;
        box-shadow:0 0 5px hsla(50, 100%, 35%);
    }
    10% {
        opacity: 0.125;
        box-shadow:0 0 20px hsla(50, 100%, 70%);
    }
    90% {
        opacity: 0.25;
        box-shadow:0 0 10px hsla(50, 100%, 50%);
    }
    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
        box-shadow:0 0 5px hsla(50, 100%, 35%);
    }
}

.dvd-logo {
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 1;
    border-radius: 0%;
    opacity: 0.25;
}

.card-wrapper {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* opcional, si querés centrar vertical */
    margin: 40px 0;
    border-radius: 16px;
    text-align: center;
    z-index: 1;
    transition: transform 1s ease, box-shadow 1s ease;
    max-height: none; 
    overflow: visible; 
    animation: brillo 60s linear infinite alternate;
    background: hsla(0, 0%, 100%, 0);
    
}

@keyframes brillo {
    0%   { box-shadow: 0 10px 50px hsla(0,100%,70%,0.5), 0 0 0 2px hsla(0,100%,70%,0.7) inset, 0 0 90px hsla(0,100%,60%,0.9) inset; }
    2%   { box-shadow: 0 10px 50px hsla(7,100%,70%,0.5), 0 0 0 2px hsla(7,100%,70%,0.7) inset, 0 0 90px hsla(7,100%,60%,0.9) inset; }
    4%   { box-shadow: 0 10px 50px hsla(14,100%,70%,0.5), 0 0 0 2px hsla(14,100%,70%,0.7) inset, 0 0 90px hsla(14,100%,60%,0.9) inset; }
    6%   { box-shadow: 0 10px 50px hsla(21,100%,70%,0.5), 0 0 0 2px hsla(21,100%,70%,0.7) inset, 0 0 90px hsla(21,100%,60%,0.9) inset; }
    8%   { box-shadow: 0 10px 50px hsla(28,100%,70%,0.5), 0 0 0 2px hsla(28,100%,70%,0.7) inset, 0 0 90px hsla(28,100%,60%,0.9) inset; }
    10%  { box-shadow: 0 10px 50px hsla(35,100%,70%,0.5), 0 0 0 2px hsla(35,100%,70%,0.7) inset, 0 0 90px hsla(35,100%,60%,0.9) inset; }
    12%  { box-shadow: 0 10px 50px hsla(42,100%,70%,0.5), 0 0 0 2px hsla(42,100%,70%,0.7) inset, 0 0 90px hsla(42,100%,60%,0.9) inset; }
    14%  { box-shadow: 0 10px 50px hsla(49,100%,70%,0.5), 0 0 0 2px hsla(49,100%,70%,0.7) inset, 0 0 90px hsla(49,100%,60%,0.9) inset; }
    16%  { box-shadow: 0 10px 50px hsla(56,100%,70%,0.5), 0 0 0 2px hsla(56,100%,70%,0.7) inset, 0 0 90px hsla(56,100%,60%,0.9) inset; }
    18%  { box-shadow: 0 10px 50px hsla(63,100%,70%,0.5), 0 0 0 2px hsla(63,100%,70%,0.7) inset, 0 0 90px hsla(63,100%,60%,0.9) inset; }
    20%  { box-shadow: 0 10px 50px hsla(70,100%,70%,0.5), 0 0 0 2px hsla(70,100%,70%,0.7) inset, 0 0 90px hsla(70,100%,60%,0.9) inset; }
    22%  { box-shadow: 0 10px 50px hsla(77,100%,70%,0.5), 0 0 0 2px hsla(77,100%,70%,0.7) inset, 0 0 90px hsla(77,100%,60%,0.9) inset; }
    24%  { box-shadow: 0 10px 50px hsla(84,100%,70%,0.5), 0 0 0 2px hsla(84,100%,70%,0.7) inset, 0 0 90px hsla(84,100%,60%,0.9) inset; }
    26%  { box-shadow: 0 10px 50px hsla(91,100%,70%,0.5), 0 0 0 2px hsla(91,100%,70%,0.7) inset, 0 0 90px hsla(91,100%,60%,0.9) inset; }
    28%  { box-shadow: 0 10px 50px hsla(98,100%,70%,0.5), 0 0 0 2px hsla(98,100%,70%,0.7) inset, 0 0 90px hsla(98,100%,60%,0.9) inset; }
    30%  { box-shadow: 0 10px 50px hsla(105,100%,70%,0.5), 0 0 0 2px hsla(105,100%,70%,0.7) inset, 0 0 90px hsla(105,100%,60%,0.9) inset; }
    32%  { box-shadow: 0 10px 50px hsla(112,100%,70%,0.5), 0 0 0 2px hsla(112,100%,70%,0.7) inset, 0 0 90px hsla(112,100%,60%,0.9) inset; }
    34%  { box-shadow: 0 10px 50px hsla(119,100%,70%,0.5), 0 0 0 2px hsla(119,100%,70%,0.7) inset, 0 0 90px hsla(119,100%,60%,0.9) inset; }
    36%  { box-shadow: 0 10px 50px hsla(126,100%,70%,0.5), 0 0 0 2px hsla(126,100%,70%,0.7) inset, 0 0 90px hsla(126,100%,60%,0.9) inset; }
    38%  { box-shadow: 0 10px 50px hsla(133,100%,70%,0.5), 0 0 0 2px hsla(133,100%,70%,0.7) inset, 0 0 90px hsla(133,100%,60%,0.9) inset; }
    40%  { box-shadow: 0 10px 50px hsla(140,100%,70%,0.5), 0 0 0 2px hsla(140,100%,70%,0.7) inset, 0 0 90px hsla(140,100%,60%,0.9) inset; }
    42%  { box-shadow: 0 10px 50px hsla(147,100%,70%,0.5), 0 0 0 2px hsla(147,100%,70%,0.7) inset, 0 0 90px hsla(147,100%,60%,0.9) inset; }
    44%  { box-shadow: 0 10px 50px hsla(154,100%,70%,0.5), 0 0 0 2px hsla(154,100%,70%,0.7) inset, 0 0 90px hsla(154,100%,60%,0.9) inset; }
    46%  { box-shadow: 0 10px 50px hsla(161,100%,70%,0.5), 0 0 0 2px hsla(161,100%,70%,0.7) inset, 0 0 90px hsla(161,100%,60%,0.9) inset; }
    48%  { box-shadow: 0 10px 50px hsla(168,100%,70%,0.5), 0 0 0 2px hsla(168,100%,70%,0.7) inset, 0 0 90px hsla(168,100%,60%,0.9) inset; }
    50%  { box-shadow: 0 10px 50px hsla(175,100%,70%,0.5), 0 0 0 2px hsla(175,100%,70%,0.7) inset, 0 0 90px hsla(175,100%,60%,0.9) inset; }
    52%  { box-shadow: 0 10px 50px hsla(182,100%,70%,0.5), 0 0 0 2px hsla(182,100%,70%,0.7) inset, 0 0 90px hsla(182,100%,60%,0.9) inset; }
    54%  { box-shadow: 0 10px 50px hsla(189,100%,70%,0.5), 0 0 0 2px hsla(189,100%,70%,0.7) inset, 0 0 90px hsla(189,100%,60%,0.9) inset; }
    56%  { box-shadow: 0 10px 50px hsla(196,100%,70%,0.5), 0 0 0 2px hsla(196,100%,70%,0.7) inset, 0 0 90px hsla(196,100%,60%,0.9) inset; }
    58%  { box-shadow: 0 10px 50px hsla(203,100%,70%,0.5), 0 0 0 2px hsla(203,100%,70%,0.7) inset, 0 0 90px hsla(203,100%,60%,0.9) inset; }
    60%  { box-shadow: 0 10px 50px hsla(210,100%,70%,0.5), 0 0 0 2px hsla(210,100%,70%,0.7) inset, 0 0 90px hsla(210,100%,60%,0.9) inset; }
    62%  { box-shadow: 0 10px 50px hsla(217,100%,70%,0.5), 0 0 0 2px hsla(217,100%,70%,0.7) inset, 0 0 90px hsla(217,100%,60%,0.9) inset; }
    64%  { box-shadow: 0 10px 50px hsla(224,100%,70%,0.5), 0 0 0 2px hsla(224,100%,70%,0.7) inset, 0 0 90px hsla(224,100%,60%,0.9) inset; }
    66%  { box-shadow: 0 10px 50px hsla(231,100%,70%,0.5), 0 0 0 2px hsla(231,100%,70%,0.7) inset, 0 0 90px hsla(231,100%,60%,0.9) inset; }
    68%  { box-shadow: 0 10px 50px hsla(238,100%,70%,0.5), 0 0 0 2px hsla(238,100%,70%,0.7) inset, 0 0 90px hsla(238,100%,60%,0.9) inset; }
    70%  { box-shadow: 0 10px 50px hsla(245,100%,70%,0.5), 0 0 0 2px hsla(245,100%,70%,0.7) inset, 0 0 90px hsla(245,100%,60%,0.9) inset; }
    72%  { box-shadow: 0 10px 50px hsla(252,100%,70%,0.5), 0 0 0 2px hsla(252,100%,70%,0.7) inset, 0 0 90px hsla(252,100%,60%,0.9) inset; }
    74%  { box-shadow: 0 10px 50px hsla(259,100%,70%,0.5), 0 0 0 2px hsla(259,100%,70%,0.7) inset, 0 0 90px hsla(259,100%,60%,0.9) inset; }
    76%  { box-shadow: 0 10px 50px hsla(266,100%,70%,0.5), 0 0 0 2px hsla(266,100%,70%,0.7) inset, 0 0 90px hsla(266,100%,60%,0.9) inset; }
    78%  { box-shadow: 0 10px 50px hsla(273,100%,70%,0.5), 0 0 0 2px hsla(273,100%,70%,0.7) inset, 0 0 90px hsla(273,100%,60%,0.9) inset; }
    80%  { box-shadow: 0 10px 50px hsla(280,100%,70%,0.5), 0 0 0 2px hsla(280,100%,70%,0.7) inset, 0 0 90px hsla(280,100%,60%,0.9) inset; }
    82%  { box-shadow: 0 10px 50px hsla(287,100%,70%,0.5), 0 0 0 2px hsla(287,100%,70%,0.7) inset, 0 0 90px hsla(287,100%,60%,0.9) inset; }
    84%  { box-shadow: 0 10px 50px hsla(294,100%,70%,0.5), 0 0 0 2px hsla(294,100%,70%,0.7) inset, 0 0 90px hsla(294,100%,60%,0.9) inset; }
    86%  { box-shadow: 0 10px 50px hsla(301,100%,70%,0.5), 0 0 0 2px hsla(301,100%,70%,0.7) inset, 0 0 90px hsla(301,100%,60%,0.9) inset; }
    88%  { box-shadow: 0 10px 50px hsla(308,100%,70%,0.5), 0 0 0 2px hsla(308,100%,70%,0.7) inset, 0 0 90px hsla(308,100%,60%,0.9) inset; }
    90%  { box-shadow: 0 10px 50px hsla(315,100%,70%,0.5), 0 0 0 2px hsla(315,100%,70%,0.7) inset, 0 0 90px hsla(315,100%,60%,0.9) inset; }
    92%  { box-shadow: 0 10px 50px hsla(322,100%,70%,0.5), 0 0 0 2px hsla(322,100%,70%,0.7) inset, 0 0 90px hsla(322,100%,60%,0.9) inset; }
    94%  { box-shadow: 0 10px 50px hsla(329,100%,70%,0.5), 0 0 0 2px hsla(329,100%,70%,0.7) inset, 0 0 90px hsla(329,100%,60%,0.9) inset; }
    96%  { box-shadow: 0 10px 50px hsla(336,100%,70%,0.5), 0 0 0 2px hsla(336,100%,70%,0.7) inset, 0 0 90px hsla(336,100%,60%,0.9) inset; }
    98%  { box-shadow: 0 10px 50px hsla(343,100%,70%,0.5), 0 0 0 2px hsla(343,100%,70%,0.7) inset, 0 0 90px hsla(343,100%,60%,0.9) inset; }
    100% { box-shadow: 0 10px 50px hsla(350,100%,70%,0.5), 0 0 0 2px hsla(350,100%,70%,0.7) inset, 0 0 90px hsla(350,100%,60%,0.9) inset; }
}

.card-wrapper::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, hsl(50, 100%, 50%), hsl(50, 100%, 40%), hsl(51, 100%, 30%));
    border-image-slice: 1;
    z-index: -1;
    pointer-events: none;
    animation: borderGlow 20s linear infinite;
}

@keyframes borderGlow {
    0% { opacity: 0.5; }
    50% { opacity: 0.8; }
    100% { opacity: 0.5; }
}

/* 💎 Card */
.card {
    margin: auto;
    background: hsla(0, 0%, 100%, 0.5);
    border-radius: 16px;
    width: 500px;
    max-width: 700px;
    height: auto;
    padding: 40px;
    box-shadow:
        0 10px 50px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(255, 255, 255, 0.1) inset,
        0 0 30px rgba(212, 175, 55, 0.2) inset;
    overflow: hidden;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(1000px);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* ✨ Luz interna giratoria */
.card::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    backdrop-filter: blur(100px);
    animation: rotate 60s linear infinite, brillo 60s linear alternate-reverse;
    z-index: -1;
}

/* 🔄 Animaciones */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Logo */
.sphere-logo {
    --sphere-size: 60px;
    width: var(--sphere-size);
    height: var(--sphere-size);
    background: linear-gradient(145deg, 
        var(--primary-color) 0%, 
        var(--secondary-color) 70%, 
        rgba(0,0,0,0.1) 100%);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
    left: 45%;
    margin: 10px;
    animation: brillo 60s linear infinite alternate, palpitar 6s ease-in-out infinite;
    opacity: 0.25;
}

.sphere-logo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(255,215,0,0.3) 0%, rgba(0,0,0,0) 70%);
    opacity: 1;
    pointer-events: none;
    animation: palpitar-sombra 6s ease-in-out infinite;
    filter: blur(5px);
    z-index: -1;
}

.sphere-text {
    font-family: 'Cinzel Decorative', cursive;
    color: rgba(255,255,255,0.25);
    font-size: calc(var(--sphere-size) * 0.45);
    text-shadow: 
        0 1px 0 rgba(255,255,255,0.9),
        0 -1px 0 rgba(0,0,0,0.9);
    transform: 
        translateY(5%) 
        rotateX(20deg) 
        scale(1);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

@keyframes palpitar-sombra {
    0%, 100% {
        box-shadow: 
            inset 0 -3px 5px hsla(0, 0%, 100%, 0.9),
            inset 0 3px 5px hsla(0, 0%, 0%, 0.9),
            0 5px 5px hsla(0, 0%, 0%, 0.9);
    }
    50% {
        box-shadow: 
            inset 0 -4px 7px hsla(0, 0%, 100%, 0.95),
            inset 0 4px 7px hsla(0, 0%, 0%, 0.95),
            0 7px 10px hsla(0, 0%, 0%, 0.7);
    }
}

@keyframes palpitar {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}

/* Títulos */
.contenedor-titulos {
    margin: 20px 0;
    animation: textShadowtitulo 60s ease-in-out;

}

@keyframes textShadowtitulo {
    0%, 100% { text-shadow: 0 0 5px hsl(0, 0%, 0%, 0); }
    10%, 90% { text-shadow: 0 0 5px hsl(0, 0%, 20%, 0); }
    20%, 80%{ text-shadow: 0 0 5px hsl(0, 0%, 40%); }
    30%, 70%{ text-shadow: 0 0 5px hsl(0, 0%, 60%); }
    40%, 60%{ text-shadow: 0 0 5px hsl(0, 0%, 80%); }
    50% { text-shadow: 0 0 5px hsl(0, 0%, 100%); }
}


h1 {
    border-right: 3px solid var(--secondary-color);
    animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

.size1 {
    color: hsla(210, 30%, 25%, 0.75);
    transition: font-family 0.5s ease;
}

.size2 {
    margin-top: 1.5%;
    color: hsl(205, 70%, 50%, 0.75);
    transition: font-family 0.5s ease;
}

/* Animación de máquina de escribir */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--secondary-color); }
}

.font-changing {
  transition: all 0.25s ease-out;
  transform: scale(0.98);
  opacity: 0.7;
  filter: blur(2px);
}
.font-changing-restore {
  transition: all 0.25s ease-in;
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
}

.nombre-fuente{
    margin-bottom: -10%;
    color: hsla(0, 0%, 20%, 0.5);
}


/* Información de contacto */
.contact-info {
    margin: -5px 0;
    text-align: center;
    width: 100%;
    
}

.contact-info p {
    margin: 10px 0;
    font-size: 1rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact-info i {
    margin-right: 2.5%;
    font-size: 1rem;
}

.contact-info a{
    text-decoration: none;
}

/* Sección de redes sociales */
.social-section {
    margin: 25px 0;
    width: 100%;
}

.social-section h4 {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;   
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: moveAndPulse 10s ease-in-out infinite;
    text-decoration: none;   /* ← Agrega esta línea */
}

@keyframes moveAndPulse {
  0% {
    transform: translateX(-5px) scale(0.9);
  }
  50% {
    transform: translateX(5px) scale(1); 
  }
  100% {
    transform: translateX(-5px) scale(0.9); 
  }
}

.social-icon:hover {
    animation: none;          /* ← Detiene la animación al hacer hover */
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.whatsapp { background-color: #25D366; }
.telegram { background-color: #0088CC; }
.facebook { background-color: #3B5998; }
.instagram { background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D); }
.youtube { background-color: #FF0000; }
.tiktok { background-color: #000000; }

/* Botón de portafolio */
.portfolio-btn {
    animation: brillo 60s linear infinite alternate, colorboton 60s ease-in-out;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition);
    align-items: center;
    
}

.portfolio-btn i {
    margin-left: 10px;
    transition: var(--transition);
    animation: colorboton 60s ease-in-out;
}

.portfolio-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(52, 152, 219, 0.6);
}

.portfolio-btn:hover i {
    transform: translateX(10px);
}

@keyframes colorboton {
    0%, 100% { color: hsl(0, 0%, 0%); }
    10%, 90% { color: hsl(0, 0%, 20%); }
    20%, 80%{ color: hsl(0, 0%, 40%); }
    30%, 70%{ color: hsl(0, 0%, 60%); }
    40%, 60%{ color: hsl(0, 0%, 80%); }
    50% { color: hsl(0, 0%, 100%); }
}


/* Dropdown de servicios */
.services-dropdown {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.dropdown-header {
    animation: brillo 60s linear infinite alternate, colorboton 60s ease-in-out;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.dropdown-header:hover {
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
}

.dropdown-header i {
    transition: var(--transition);
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: hsla(0, 0%, 100%, 0.125);
    text-align: center;
}

.dropdown-content.show {
    max-height: 1000px;
    transition: max-height 0.8s ease-in;
}

.service-category {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.service-category h3 {
    color: hsla(0, 0%, 0%, 0.75);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.service-category h3 i {
    margin-right: 10px;
    color: hsla(0, 0%, 75%, 0.5);
}

.service-category ul {
    list-style-type: none;
    margin: 0;
}

.service-category li {
    margin-bottom: 2.5px;
    position: relative;
    font-size: 0.95rem;
}

/* Controles de audio */
.audio-controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    z-index: 10000;
}

.audio-btn {
    background: transparent;
    border: 2px solid var(--secondary-color);
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    font-weight: 600;
    animation: brillo 60s linear infinite alternate;
    opacity: 0.25;
}

.audio-btn i {
    margin-right: 8px;
}

.audio-btn:hover, .audio-btn.active {
    opacity: 1;
    color: white;
}


@media (max-width: 768px) {
    .card {
        max-width: 250px;
        
    }    

    .sphere-logo {
        --sphere-size: 50px;
        width: var(--sphere-size);
        height: var(--sphere-size);
        left: 40%;
    }

    .sphere-logo::after {
        width: 100%;
        height: 100%;
    }

    .contact-info p {
        font-size: 0.75rem;
        
    }

    .nombre-fuente{
        margin-bottom: -12%;
    }

    .social-section h4 {
        font-size: 0.5rem;
        letter-spacing: 1px;
    }

    .social-icon {
        width: 30px;
        height: 30px;
    }

    .portfolio-btn {
        font-size: 0.6rem;    
    }
    
    .dropdown-header{
        font-size: 0.75rem;
    }
    .service-category {
        padding: 10px;
    }

    .service-category h3 {
        font-size: 0.75rem;
        margin-bottom: 5px;
    }

    .service-category li {
        margin-bottom: 2.5px;
        font-size: 0.75rem;
        
    }
}

