
/*FONDO*/
@keyframes backgroundColorChange {
  0% { background-color: #ffffff; }
  20% { background-color: #004582; } 
  40% { background-color: #3b005e; }
  60% { background-color: #570020; }
  80% { background-color: #000000; }
  100% { background-color: #ffffff; }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  animation: backgroundColorChange 20s ease-in-out infinite; /* Duración de 10 segundos, en bucle infinito */
}

/*FONDO CUBO*/
@keyframes backgroundColorChange2 {
  0% { background-color: #ffffff; }
  33% { background-color: #d2e5ff; } 
  66% { background-color:#59affa; }
  100% { background-color: #ffffff; }
}
/*CUBO*/
.card {  
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 450px;
  text-align: center;
  animation: backgroundColorChange2 40s ease-in-out infinite, heartbeat 2.5s infinite; 
}

/*NOMBRE*/
.card h2 {
  font-size: 30px;
  margin: 0;  
}


/*RELLENO*/
.card p {
  color: #474747;
  margin: 5px 0;
}

/*LINK WHATS APP*/
@keyframes backgroundColorChange3 {
  0% { 
    background-color: #ffffff; 
    color: #000000; /* Color del texto inicial */
  }
  33% { 
    background-color: #d2e5ff; 
    color: #007bff; /* Cambia el color del texto en esta etapa */
  } 
  66% { 
    background-color: #59affa; 
    color: #ffcc00; /* Cambia el color del texto en esta etapa */
  }
  100% { 
    background-color: #ffffff; 
    color: #000000; /* Vuelve al color del texto inicial */
  }
}

.card a {
  text-decoration: none;
  font-weight: bold;
  animation: backgroundColorChange3 40s ease-in-out infinite, heartbeat 3s ease-in-out infinite;  
}

/*JUNTAO*/
.inline-text {
display: inline;
}
/*PALPITO*/
@keyframes heartbeat {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.01); }
}


/*TITUTO CON EFECTO*/
.letra {
    font-size: 80px; 
    font-family: Georgia, serif;   
    animation: backgroundColorChange4 50s ease-in-out infinite;
  }

.font1 {
    font-family: Arial, sans-serif;
}

.font2 {
    font-family: Verdana, sans-serif;
}

.font3 {
    font-family: 'Courier New', Courier, monospace;
}

.font4 {
    font-family: Georgia, serif;
}

@keyframes backgroundColorChange4 {
  0% { 
    filter: drop-shadow(#fff2ae) ; 
    color: #987f03; /* Color del texto inicial */
  }
  30% { 
    filter: drop-shadow( #d4c67e); 
    color: #ffe76e; /* Cambia el color del texto en esta etapa */
  } 
  60% { 
    filter: drop-shadow(#c3af50); 
    color: #ffde38; /* Cambia el color del texto en esta etapa */
  }
  90% { 
    filter: drop-shadow( #ffd500); 
    color: #fff280; /* Vuelve al color del texto inicial */
  }
  100% { 
    filter: drop-shadow(#fff2ae) ; 
    color: #987f03; /* Color del texto inicial */
  }
}

.icono-whatsapp {
  width: 30px;
  height: 30px;
}


.icono {
  width: 35px;
  height: 35px;
  margin: 0 0 0 10px;
  border-radius: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  animation: moveAndPulse 10s ease-in-out infinite; /* Aplica la nueva animación combinada */
}

.icono:hover {
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.8);
}

.letrachica {
  font-size: 15px;
}

.nombre-completo {
  margin: 0 0 10px 0;
  display: inline-block; /* Agrupa los elementos */
}
