@keyframes backgroundImageChange {
    0% {
      background-image: url('imagen1.jpg');
      filter: blur(25px);
    }
    25% {
      background-image: url('imagen2.jpg');
      filter: blur(20px);
    }
    50% {
      background-image: url('imagen3.jpg');
      filter: blur(15px);
    }
    75% {
      background-image: url('imagen4.jpg');
      filter: blur(10px);
    }
    100% {
      background-image: url('imagen1.jpg');
      filter: blur(25px);
    }
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
    overflow: hidden; /* Para evitar que la imagen se salga */
    animation: heartbeat 20s infinite; 
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: backgroundImageChange 20s infinite;
    background-size: cover;
    background-position: center;
    
    z-index: -1; /* Mantiene el fondo detrás del contenido */
  }
  
  /*FONDO CUBO*/
  @keyframes backgroundColorChange2 {
    0% { background-color: #ffffff; }
    33% { background-color: #002b67; } 
    66% { background-color:#480036; }
    100% { background-color: #ffffff; }
  }
  /*CUBO*/
  .card {  
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 525px;
    text-align: center;
    animation: backgroundColorChange2 40s ease-in-out infinite, heartbeat 2.5s infinite; 
  }
  /*NOMBRE*/
  .nombre-completo {
    margin: 30px 0 0 0;
    display: inline-block; /* Agrupa los elementos */
  }
  .card h2 {
    font-size: 45px;
  }
  .card h3 {
    font-size: 25px;
  }
  /*RELLENO*/
  .card p {
    color: #474747;
    margin: 5px 0;
  }
  p {
    font-size: 20px; /* Tamaño general para los párrafos */
  }
  strong {
    font-size: 20px; /* Tamaño para el texto en negrita */
  }
  /* Si quieres aumentar solo los elementos de contacto */
  p strong {
    font-size: 18px; /* Tamaño más grande para los nombres de los campos (Teléfono, Correo, etc.) */
  }
  
  /*LINK WHATS APP*/
  @keyframes backgroundColorChange3 {
    0% {     
      color: #000000; /* Color del texto inicial */
    }
    33% {    
      color: #007bff; /* Cambia el color del texto en esta etapa */
    } 
    66% {    
      color: #ffcc00; /* Cambia el color del texto en esta etapa */
    }
    100% {    
      color: #000000; /* Vuelve al color del texto inicial */
    }
  }
  
  .card a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    animation: backgroundColorChange3 40s ease-in-out infinite, heartbeat 3s ease-in-out infinite;  
  }
  a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor */
  }
  
  /*JUNTAO*/
  .inline-text {
  display: inline;
  }
  /*PALPITO*/
  @keyframes heartbeat {
      0%, 100% { transform: scale(1); }
      50% { transform: scale(1.01); }
  }
  
  
  /*TITUTO CON EFECTO*/
  @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
  }
  
  @keyframes fadeOut {
      0% { opacity: 1; }
      100% { opacity: 0; }
  }
  
  /* TITULO CON EFECTO */
  .letra {
      font-family: Georgia, serif;
      animation: fontChange 50s ease-in-out infinite; /* Si tienes una animación de fondo, este es el lugar para definirla */
      transition: font-family 2s ease-in-out; /* Agregar transición suave al cambiar la fuente */
  }
  
  @keyframes fontChange {
    0%, 100% { font-family: Arial, sans-serif; }
    7% { font-family: "Helvetica Neue", Helvetica, sans-serif; }
    14% { font-family: 'Courier New', Courier, monospace; }
    21% { font-family: Georgia, serif; }
    28% { font-family: 'Times New Roman', Times, serif; }
    35% { font-family: Verdana, Geneva, sans-serif; }
    42% { font-family: Tahoma, Geneva, sans-serif; }
    49% { font-family: 'Trebuchet MS', Helvetica, sans-serif; }
    56% { font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }
    63% { font-family: 'Comic Sans MS', cursive, sans-serif; }
    70% { font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; }
    77% { font-family: 'Impact', Charcoal, sans-serif; }
    84% { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; }
    91% { font-family: 'Lucida Console', Monaco, monospace; }
    98% { font-family: 'Brush Script MT', cursive; }
  }
  
