* {
    -webkit-tap-highlight-color: transparent;
}

/* ===== Colores Generales ===== */
:root {
    --gold-primary: hsl(45, 65%, 50%);
    --gold-secondary: hsl(50, 90%, 50%);
    --gold-tertiary: hsl(50, 100%, 50%);
    --dark-blue: hsl(220, 75%, 15%);
    --medium-blue: hsl(225, 70%, 35%);
    --text-dark: hsl(0, 0%, 20%);
    --accent-green: hsl(145, 50%, 35%);
}


/* ===== Body ===== */
body {
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
    animation: backgroundBody 60s ease-in-out infinite;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* ===== Sube ===== */
#sube-contenedor {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.sube-particle {
    position: absolute;
}
/* ----- Formas ----- */
.s-circulo {
    border-radius: 50%;
}

.s-cuadrado {
    border-radius: 0;
}
/* ----- Animacion flotante (Sube) ----- */
@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    35% { opacity: 0.5; }
    50% { opacity: 0.75; }
    65% { opacity: 0.5 }
    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}


/* ===== Chocan ===== */
#chocan-contenedor {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.chocan-logo {
    position: fixed;
    will-change: transform;
}
/* ----- Formas ----- */
.c-circulo {
    border-radius: 50%;
}

.c-cuadrado {
    border-radius: 0;
}
/* ----- Animacion de rotacion (Chocan) ----- */
@keyframes rotateOnly {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* ===== Card borde brillante===== */
.card-wrapper {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;     
}
/* ----- Borde brillante ----- */
.card-wrapper::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-sizing: border-box;
    z-index: 2;
}


/* ===== Card Informacion ===== */
.card {
    padding: 2.5%;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 700px;
    z-index: 1;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* ----- Luz interna giratoria  ----- */
.card::before {
    content: "";
    position: absolute;
    animation: rotate 60s linear infinite;
    z-index: -1;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ===== Sello ===== */
.sello-contenedor{
    position:absolute;    
    display:flex;
    justify-content:center;
    align-items:center;
    transition: transform 0.8s cubic-bezier(.17,.67,.32,1.3);
}

.sello-rotador{
    border-radius:100%;
    position:absolute;
}

.sello-rotador::before{
    content:"";
    position:absolute;
    border-radius:100%;
}

.sello-rotador::after{
    content:"";
    position:absolute;
    border-radius:100%;
}

.sello-texto{
    position:absolute;
    text-align:center;
    z-index:2;
}

@keyframes girar{
    from{        transform:rotate(0deg);
    }
    to{        transform:rotate(360deg);
    }
}


/*===== QR =====*/
/* modal */
.qr-modal{
    position:fixed;
    inset:0;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    pointer-events:none;
    transition:.25s;
    z-index:10;
}

.qr-modal.activo{
    opacity:1;
    pointer-events:auto;
}

/* fondo configurable */
.qr-overlay{
    position:absolute;
    inset:0;
}

/* ventana */
.qr-ventana{
    position:relative;
    z-index:2;
    min-width:200px;
    max-width:500px;
    width: 100%;
    height: auto;
    padding: 7.75% 10% 0 10%;    
}

/* panel interno */
.qr-panel{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1rem;
}

.qr-real{
    max-width:110%;
    display:block;
    padding: 0.5rem;
}

/* cerrar */
.qr-cerrar{
    position:absolute;
    top:1.5rem;
    right:47.5%;
    width:25px;
    height:25px;
    border:none;
    cursor:pointer;
    transition: 0.5s;
}

.qr-descargar:active {
    transform: translateY(1px);     
    transition: 0.05s;              
}

/* acciones */
.qr-acciones{
    display:flex;
    justify-content:center;
    margin-top:.5rem;
    margin-bottom: 1.5rem;
}

/* botón descargar */
.qr-descargar{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:.55rem 1rem;
    border-radius:12px;
    text-decoration:none;
    font-size:.85rem;
    cursor:pointer;
    transition:.5s;
}


/* ===== Logo ===== */
.logo {
    width: 15%;
    animation: opacidadLogo 60s infinite ease-in-out;
}

.logo:hover {
    opacity: 0.75 !important;
    animation-play-state: paused;
}

@keyframes opacidadLogo {
    0%,100% {
        opacity: 0.25;
        filter: drop-shadow(0 0 5px black);
    }
    25%,75% {
        opacity: 0.125;
        filter: drop-shadow(0 0 10px black);
    }
    50% {
        opacity: 0.05;
        filter: drop-shadow(0 0 2px black);
    }
}

/* ===== Letra ===== */
.letra {
    position: relative;
}

.letra::after {
    content: "";
    display: block;
}

/* ===== Nombre ===== */
.nombre-completo {
    position: relative;
    text-align: center;
}

.degradado-animado3 h2,
.degradado-animado3 h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
}

@keyframes animacion-degradado {
    0% { background-position: 0% 50%;}
    100% { background-position: 100% 50%;}
}

@keyframes animacion-aparicion {
    0% { line-height: 50%;
    opacity: 0; }
    100% { line-height: 100%;
    opacity: 1; }
}

@keyframes animacion-aparicion2 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes animacion-sombra {
    0%, 100% { filter: drop-shadow(0 5px 2.5px hsl(0, 0%, 0%, 0.25)); }
    20%, 80% { filter: drop-shadow(0 10px 2.5px hsla(0, 0%, 100%, 0.25)); }
    40%, 60% { filter: drop-shadow(0 15px 2.5px hsl(0, 0%, 0%, 0.25)); }
    50% { filter: drop-shadow(0 15px 2.5px hsla(0, 0%, 100%, 0.25)); }
}

/*===== Sugerencia =====*/
.sugerencia{
    display:flex;
    align-items:center;
}

/* BOTON */
.info-btn{
    position:relative;
    border:none;
    border-radius:100%;
    cursor:pointer;
}

.info-btn:hover{
    animation: stop;
    transform:scale(1.1);
    opacity: 1;
}

/* TOOLTIP */
.tooltip{
    position:absolute;
    bottom:130%;
    left:0%;
    transform:translateX(-50%);
    width:max-content;
    padding:6px 10px;
    border-radius:8px;
    white-space: normal;
    pointer-events:none;
    transition:0.3s;
}

/* MOSTRAR TOOLTIP */
.info-btn:hover .tooltip{
    opacity:1;
}


/* ===== Cajas de contacto ===== */
.contact-grid {
    display: grid;
    margin: auto;
    margin-bottom: 2.25%;
}

.contact-item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 5px 2.5px 15px 12.5px ;
    transition: all 0.3s ease;
}

.contact-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.contact-link {
    text-decoration: none;
    transition: color 0.3s ease;
}

.bandera {
    width: 18px;
    height: auto;
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 2px;
    transition: transform 0.2s ease;
}

.contact-link:hover .bandera {
    transform: scale(1.2) translateY(-0.125rem);
}

.full { display: inline; }
.short { display: none;}



/* ===== Despegables ===== */
.despegables-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* 🔥 CENTRADO REAL */
}
 
.despegable {
    overflow: hidden;
    transition: all 0.3s ease;
}

.despegable:hover {
    transform: translateY(-2px);
}

.despegable-toggle {
    padding: 15px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.despegable-toggle::after {
    content: "▼";
    margin-left: 10px;
    font-size: 12px;
    transition: transform 0.3s ease;
}

.despegable.active .despegable-toggle::after {
    display: inline-block;
    transform: rotate(180deg);
}

.content, .content2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.content-img {
    max-height: 0;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    align-items: center;
}

.content-img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    flex: 0 0 80%;
    border-radius: 10px;
    scroll-snap-align: center;
    margin-right: -10%;
}
.content-img img:hover {
    margin-left: -10%;
}
.content-img::-webkit-scrollbar {
    display: none;
}

.btn-maps {
  display: inline-block;
  text-decoration: none;
  width: fit-content;
}

.btn-maps:hover {
  background: #1558b0;
}

ul {
    list-style: none;
    padding-left: 5px;
}

li {
    padding: 5px 0;
}

.submenu > ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin-left: 5px;
    padding-left: 5px;
}

.submenu.active > ul {
    max-height: 1000px;
}

.submenu > strong {
    cursor: pointer;
    font-weight: 600;
}

.submenu > strong::after {
    content: " ▼";
    font-size: 10px;
    margin-left: 5px;
}

.submenu.active > strong::after {
    display: inline-block;
    transform: rotate(180deg);
}

iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

/*Galeria*/
#galeria .button {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* ===== Iconos sociables ===== */
.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    animation: moveAndPulse 10s ease-in-out infinite;   
}

.social-icon:hover {
    animation: none; 
    transform: translateY(-3px) translateX(auto);
}

.social-icon img {
    object-fit: contain;
}

            
.whatsapp-despegable {
    position: relative;
}

.despegable-content {
    display: none;
    position: absolute;
    background-color: white;
    bottom: 100%;
    min-width: 200px;
}

.despegable-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #25D366;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s;
}

.despegable-content a:last-child {
    border-bottom: none;
}

.despegable-content a:hover {
    background-color: #f0f0f0;
}

.whatsapp-despegable:hover .despegable-content {
    display: block;
}

@keyframes moveAndPulse {
  0% {
    transform: translateX(-10px) scale(0.9);
    opacity: 0.5;
  }
  50% {
    transform: translateX(0px) scale(1); 
    opacity: 0.75;
  }
  100% {
    transform: translateX(-10px) scale(0.9); 
    opacity: 0.5;
  }
}


@media (max-width: 500px) {

    .qr-ventana{
        width: 300px;
    }

    .qr-cerrar{
        top:.75rem;
        width: 1rem;
        height: 1rem;
        opacity: 0.25;
    }

    .qr-descargar{
        padding:.45rem 0.75rem;
        border-radius:12px;
        text-decoration:none;
        font-size:.7rem;
        cursor:pointer;
        transition:.5s;
    }

    .logo{
        margin-top: 0%;
        width: 15%;
    }

    .full { display: inline; }
    .short { display: none; }
            
    .despegable {
        max-width: 250px;
    }

    .despegable-toggle {
        padding: 5.5%;
    }

    .content2 iframe {
        height: 200px;
    }

}

@media (max-width: 330px) {

    .full { display: none; }
    .short { display: inline; }  
    
    .despegable {
        max-width: 200px;
    }

}


