/* ===== Colores Generales ===== */
:root {
    --gold-primary: hsl(46, 65%, 52%);
    --gold-secondary: #F1C40F;
    --gold-tertiary: #FFD700;
    --dark-blue: #0A1F44;
    --medium-blue: #1A3A8F;
    --text-dark: #333333;
    --accent-green: #2E8B57;
}


/* ===== Body ===== */
body {
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
    animation: backgroundBody 60s ease-in-out infinite;
}


/* ===== Sube ===== */
#sube-contenedor {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.sube-particle {
    position: absolute;
}
/* ----- Formas ----- */
.s-circulo {
    border-radius: 50%;
}

.s-cuadrado {
    border-radius: 0;
}
/* ----- Animacion flotante (Sube) ----- */
@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    35% { opacity: 0.5; }
    50% { opacity: 0.75; }
    65% { opacity: 0.5 }
    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}


/* ===== Chocan ===== */
#chocan-contenedor {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.chocan-logo {
    position: fixed;
    will-change: transform;
}
/* ----- Formas ----- */
.c-circulo {
    border-radius: 50%;
}

.c-cuadrado {
    border-radius: 0;
}
/* ----- Animacion de rotacion (Chocan) ----- */
@keyframes rotateOnly {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* ===== Card borde brillante===== */
.card-wrapper {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;     
}
/* ----- Borde brillante ----- */
.card-wrapper::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-sizing: border-box;
    z-index: 2;
}


/* ===== Card Informacion ===== */
.card {
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* ----- Luz interna giratoria  ----- */
.card::before {
    content: "";
    position: absolute;
    animation: rotate 60s linear infinite;
    z-index: -1;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ===== Sello ===== */
.sello-contenedor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.official-sello {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.official-sello::before {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.official-sello::after {
    content: "";
    position: absolute;
    
}

.sello-contenedor:hover{
    opacity: 1;
}


/* ===== Logo ===== */
.logo {
    width: 15%;
    animation: opacidadLogo 60s infinite ease-in-out;
}

.logo:hover {
    opacity: 0.75 !important;
    animation-play-state: paused;
}

@keyframes opacidadLogo {
    0%,100% {
        opacity: 0.25;
        filter: drop-shadow(0 0 5px black);
    }
    25%,75% {
        opacity: 0.125;
        filter: drop-shadow(0 0 10px black);
    }
    50% {
        opacity: 0.05;
        filter: drop-shadow(0 0 2px black);
    }
}

/* ===== Letra ===== */
.letra {
    position: relative;
}

.letra::after {
    content: "";
    display: block;
}

/* ===== Nombre ===== */
.nombre-completo {
    position: relative;
    text-align: center;
}

.nombre-completo h2 {
    margin: 0;
}

/* ---- Ocupacion ---- */
.nombre-completo h3 {
    margin: 0px;
    display: inline;
}

.degradado-animado3 h2,
.degradado-animado3 h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
}

@keyframes animacion-degradado {
    0% { background-position: 0% 50%;}
    100% { background-position: 100% 50%;}
}

@keyframes animacion-aparicion {
    0% { line-height: 0rem;
    opacity: 0; }
    100% { line-height: 100%;
    opacity: 1; }
}

@keyframes animacion-sombra {
    0%, 100% { filter: drop-shadow(0 5px 2.5px hsl(0, 0%, 0%, 0.25)); }
    20%, 80% { filter: drop-shadow(0 10px 2.5px hsla(0, 0%, 100%, 0.25)); }
    40%, 60% { filter: drop-shadow(0 15px 2.5px hsl(0, 0%, 0%, 0.25)); }
    50% { filter: drop-shadow(0 15px 2.5px hsla(0, 0%, 100%, 0.25)); }
}

/* ===== Cajas de contacto ===== */
.contact-grid {
    display: grid;
}

.contact-item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px;
    transition: all 0.3s ease;
}

.contact-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.contact-link {
    text-decoration: none;
    transition: color 0.3s ease;
}

.bandera {
    width: 18px;
    height: auto;
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 2px;
    transition: transform 0.2s ease;
}

.contact-link:hover .bandera {
    transform: scale(1.2) translateY(-0.125rem);
}

.full { display: inline; }
.short { display: none;}


/* ----- Efectos de enlace ----- */
.numwa,
.fbcorr{
    position: relative;
    
}

.numwa::after,
.fbcorr::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
}

.numwa:hover::after,
.fbcorr:hover::after {
    width: 100%;
}

/* ===== Despegables ===== */
.despegable {
    overflow: hidden;
    transition: all 0.3s ease;
}

.despegable:hover {
    transform: translateY(-2px);
}

.despegable-toggle {
    padding: 15px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.despegable-toggle::after {
    content: "▼";
    margin-left: 10px;
    font-size: 12px;
    transition: transform 0.3s ease;
}

.despegable.active .despegable-toggle::after {
    display: inline-block;
    transform: rotate(180deg);
}

.content, .content2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.content-img {
    max-height: 0;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    align-items: center;
}

.content-img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    flex: 0 0 80%;
    border-radius: 10px;
    scroll-snap-align: center;
    margin-right: -10%;
}
.content-img img:hover {
    margin-left: -10%;
}
.content-img::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
    padding-left: 5px;
}

li {
    padding: 5px 0;
}

.submenu > ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin-left: 5px;
    padding-left: 5px;
}

.submenu.active > ul {
    max-height: 1000px;
}

.submenu > strong {
    cursor: pointer;
    font-weight: 600;
}

.submenu > strong::after {
    content: " ▼";
    font-size: 10px;
    margin-left: 5px;
}

.submenu.active > strong::after {
    display: inline-block;
    transform: rotate(180deg);
}

iframe {
    width: 100%;
    height: 300px;
    border: 0;
}


/* ===== Iconos sociables ===== */
.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    opacity: 0.75;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    animation: moveAndPulse 10s ease-in-out infinite;   
}

.social-icon:hover {
    animation: none; 
    transform: translateY(-3px) translateX(auto);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.social-icon img {
    object-fit: contain;
}

            
.whatsapp-despegable {
    position: relative;
}

.despegable-content {
    display: none;
    position: absolute;
    background-color: white;
    bottom: 100%;
    min-width: 200px;
}

.despegable-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #25D366;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s;
}

.despegable-content a:last-child {
    border-bottom: none;
}

.despegable-content a:hover {
    background-color: #f0f0f0;
}

.whatsapp-despegable:hover .despegable-content {
    display: block;
}

@keyframes moveAndPulse {
  0% {
    transform: translateX(-10px) scale(0.9);
  }
  50% {
    transform: translateX(0px) scale(1); 
  }
  100% {
    transform: translateX(-10px) scale(0.9); 
  }
}


@media (max-width: 450px) {
    .card{
        padding: 20px;
    }

    .logo{
        margin-top: 1rem;
        margin-bottom: -1rem;
        width: 15%;
    }

    .full { display: inline; }
    .short { display: none; }
            
    .despegable-toggle {
        padding: 12px 15px;
    }
    
    .despegable {
        max-width: 300px;
        margin-left: 7.5%;
    }

    .content2 iframe {
        height: 300px;
    }

}

@media (max-width: 380px) {
    .card{
        padding: 10px;
    }

    .logo{
        margin-top: 0.5rem;
        margin-bottom: -0.75rem;
        width: 15%;
    }

    .full { display: none; }
    .short { display: inline; }  
    
    .despegable {
        max-width: 250px;
        margin-left: 2.5%;
    }

}
