html, body {
  margin: 0;
  height: 100vh;
  padding: 0;
  overflow-x: hidden; /* evita scroll horizontal */
}

body {
  text-align: center;
  font-family: sans-serif;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  background: linear-gradient(135deg, 
    hsl(30, 50%, 95%) 0%, 
    hsl(30, 50%, 85%) 25%, 
    hsl(30, 50%, 80%) 50%, 
    hsl(30, 50%, 75%) 75%, 
    hsl(30, 50%, 70%) 100%
);
  /*transition: background-color 1s;*/
}

@keyframes MADRUGADA {
  0%,100% { background-color: hsl(51, 100%, 50%); }
  20%,80% { background-color: hsl(51, 100%, 60%); }
  40%,60% { background-color: hsl(51, 100%, 70%); }
}

/*MAÑANA*/
@keyframes CELESTE {
  0%,100% { background-color: hsl(205, 100%, 70%); }
  20%,80% { background-color: hsl(205, 100%, 80%); }
  40%,60% { background-color: hsl(205, 100%, 90%); }
}

@keyframes NOSIRVE {
  0%,100% { background-color: hsl(300, 100%, 65%); }
  20%,80% { background-color: hsl(300, 100%, 80%); }
  40%,60% { background-color: hsl(300, 100%, 90%); }
}

@keyframes CAFE {
  0%,100% { background-color: hsl(35, 100%, 25%); }
  20%,80% { background-color: hsla(35, 100%, 25%, 0.5); }
  40%,60% { background-color: hsl(35, 100%, 25%, 0.25); }
}

@keyframes MANANA {
  0%,100% { background-color: hsl(135, 100%, 80%); }
  20%,80% { background-color: hsl(135, 100%, 70%); }
  40%,60% { background-color: hsl(135, 100%, 50%); }
}

@keyframes BLANCO {
  0%,100% { background-color: hsl(65, 100%, 99%); }
  20%,80% { background-color: hsl(65, 100%, 99.5%); }
  40%,60% { background-color: hsl(65, 100%, 100%); }
}

@keyframes NEGRO {
  0%,100% { background-color: hsl(0, 0%, 0%); }
}
/*FIN*/

@keyframes TARDE {
  0%,100% { background-color: hsl(205, 100%, 40%); }
  20%,80% { background-color: hsl(205, 100%, 50%); }
  40%,60% { background-color: hsl(205, 100%, 70%); }
}

@keyframes NOCHE {
  0%,100% { background-color: hsl(234, 100%, 15%); }
  20%,80% { background-color: hsl(234, 100%, 20%); }
  40%,60% { background-color: hsl(234, 100%, 26%); }
}

/* Aplicarlo al elemento */
#mensaje {
  margin-top: 30px;
  font-size: 25px;
  animation: subirBajar 5s ease-in-out infinite; /* duración 3s, infinita */
}

@keyframes subirBajar {
  0% {
    transform: translateY(-1px); /* posición inicial */
    opacity: 0;             /* semitransparente al inicio */
  }
  25% {
    transform: translateY(-0.5px); /* sube 20px */
    opacity: 0.5;                    /* más visible al subir */
  }
  50% {
    transform: translateY(0px);      /* vuelve a la posición inicial */
    opacity: 1;                  /* menos visible al bajar */
  }
  75% {
    transform: translateY(0.5px);   /* baja 20px */
    opacity: 0.5;                  /* menos visible al bajar */
  }
  100% {
    transform: translateY(1px);      /* regresa al inicio */
    opacity: 0;                  /* semitransparente */
  }
}

h1 {
  margin: 0.5rem 0 -0.5rem 0;
}

#titulo {
  font-size: 3.5rem;
  display: flex;  /* Cambiado a flex */
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center;/* Centra horizontalmente (opcional) */
  background: linear-gradient(to top, hsl(0, 100%, 30%), hsl(40, 100%, 30%), hsl(60, 100%, 30%));
  -webkit-background-clip: text;
  background-clip: text;
  color: hsla(0, 0%, 0%, 0.05);
  background-size: 100% 500%;
  animation: animacion-degradado 10s infinite alternate;
  animation: glowingText 10s infinite;
}

@keyframes animacion-degradado {
  0% {
background-position: 0% 0%; /* Inicio: degradado alineado a la izquierda (primer color visible) */
  }
  100% {
background-position: 0% 100%; /* Fin: degradado alineado a la derecha (último color visible) */
  }
}

@keyframes glowingText {
  0%, 100% {
text-shadow:
  0 2px 5px hsla(0, 100%, 50%, 0.25),
  0 3px 6.5px hsl(16, 100%, 50%, 0.25),
  0 4px 8px hsl(39, 100%, 50%, 0.25),
  0 -3px 9.5px hsl(9, 100%, 50%, 0.25),
  0 -2px 11px hsl(0, 100%, 50%, 0.25),
  0 10px 7.5px hsla(0, 0%, 0%, 0.125);
  }
  25%, 75% {
text-shadow:
  0 -2px 5px hsla(0, 100%, 50%, 0.25),
  0 -3px 6.5px hsl(16, 100%, 50%, 0.25),
  0 4px 8px hsl(39, 100%, 50%, 0.25),
  0 3px 9.5px hsl(9, 100%, 50%, 0.25),
  0 2px 11px hsl(0, 100%, 50%, 0.25),
  0 0px 7.5px hsla(0, 0%, 0%, 0.125);
}
  50% {
text-shadow:
  0 2px 5px hsla(0, 100%, 50%, 0.25),
  0 3px 6.5px hsl(16, 100%, 50%, 0.25),
  0 4px 8px hsl(39, 100%, 50%, 0.25),
  0 -3px 9.5px hsl(9, 100%, 50%, 0.25),
  0 -2px 11px hsl(0, 100%, 50%, 0.25),
  0 -10px 7.5px hsla(0, 0%, 0%, 0.125);
  }
}

#deli{
  font-size: 1rem; 
  color: hsla(0, 0%, 20%, 0.125); 
  margin-bottom: -2px; 
  opacity: 0.95;
}

@font-face {
  font-family: 'PRISTINA';
  src: url('PRISTINA.TTF');
}

#nombre {
  font-family: 'PRISTINA';
  font-size: 8rem;
  margin: -10px;
  margin-bottom: -5px;
  
}

.menu-card {
  background: hsla(0, 0%, 100%, 0.125);
  border-radius: 5%;
  padding: 25px;  
  text-align: center;
  display:flex;            /* convierte en flexbox */
  align-items: center;      /* centra horizontal */
  justify-content: center;  /* centra vertical (si quieres) */
  width:700px;
  margin: 0 auto;
}

.precio {
  background: linear-gradient(to top, #ff0000, #ffa500, #ffff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-family: 'Arial Black', 'Impact', sans-serif;
  display: inline-block;
  padding: 2px 5px;
  animation: glowingText 25s infinite;  
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  text-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.5);
  margin-bottom: 40px;
}

li {
  background: rgba(224, 224, 224, 0.558);
  text-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.5);
  margin: 0.2em;
  padding: 0.25em 0.25em;
  width: 500px;
  border-radius: 5px;
}

.bien{
  color: green;
  text-shadow: 0 5px 3px hsla(120, 100%, 25%, 0.5) !important;
}

.smoke-effect, .spark-layer {
  position: fixed;   /* se quedan en pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* no bloquean clics */
}

.smoke, .spark {
  position: absolute; /* cada partícula absoluta */
}

/* Humo */
.smoke-effect {
  z-index: 1;
  opacity: 1;
}

.smoke {
  border-radius: 50%;
  background: linear-gradient(135deg, #333333, #555555);
  filter: blur(100px);
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0vh) rotate(0deg); opacity: 0; }
  50% { opacity: 0.4; }
  100% { transform: translateY(-500vh) rotate(360deg); opacity: 0; }
}

/* Chispas */
.spark-layer {
  z-index: -1;
  pointer-events: none;
}

.spark {
  border-radius: 100%;
  background: #FF4500;
  box-shadow: 0 0 5px 2px #FF4500;
  animation-name: sparkle;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

@keyframes sparkle {
  0% {
  transform: translateY(-50px);
  opacity: 1;
  width: 1px;
  height: 1px;
  background: #FF4500;
  box-shadow: 0 0 3px 1px #FF4500;
  }

  50% {
  width: 0.5px;
  height: 0.5px;
  background: #FFD700;
  box-shadow: 0 0 5px 2px #FFD700;
  }

  100% {
  transform: translateY(-2000px);
  opacity: 0;
  width: 0.5px;
  height: 0.5px;
  background: #FF0000;
  box-shadow: 0 0 3px 1px #FF0000;
  }
}

/* Llamas animadas en la base */
.flames {
  position: relative; /* Cambiado de absolute a relative */
  width: 100%;
  background: transparent;
  pointer-events: none;
  z-index: 2;
}

.flame {
  position:absolute;
  bottom: 0px;
  background: radial-gradient(ellipse at center, #ffcc00 0%, #ff3300 60%, transparent 80%);
  opacity: 0.8;
  animation: flameAnim 5s infinite ease-in-out;
  border-radius: 100%;
}

@keyframes flameAnim {
  0% {
    height: 40px;
    opacity: 0.9;
  }
  25% {
    height: 60px;
    opacity: 0.5;
  }
  25% {
    height: 80px;
    opacity: 0.25;
  }
  25% {
    height: 60px;
    opacity: 0.5;
  }
  100% {
    height: 40px;
    opacity: 0.8;
  }
}

@media (max-height: 1236px)  {
  #mensaje{
    font-size: 12.5px;
  }
  #deli{
    font-size: 0.65rem;
  }
  #titulo{
    font-size: 1.5rem;
  }
  #nombre{
    font-size: 4.75rem;
  }
  
  .menu-card{    
    width: 310px;    
  }

  ul {
  font-size: 20.5px;
  text-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.5);
  text-align: center;
  }

  li {
  font-size: 17.5px;
  text-align: center;
  padding: 0.5em;
  width: 225px;
  margin-left: 30px;
  margin-bottom: 7px;
  border-radius: 10px;
  text-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.5);
  box-shadow: 0 0 5px hsla(0, 0%, 100%, 0.75);
  }

}

